.yz-sticky-nav-bar {
  background-color: #219ebc;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#yz-table-title {
  background-color: #8ecae6;
  position:fixed;
  color: white;
  font-size: 20px;
  padding-top: 60px;
  width: 100%;
}

#container1 {
  padding-top: 120px;
}

#name {
  font-size: 20px;
  color: white;
}

#input1 {
  background-color: #8ecae6;
}

#input1::placeholder {
  color: white;
}

.fa-bars {
  color: white;
}

.fa-plus {
  color: #fb8500;
  position: float-right;
}

#iconFix {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fb8500;
}

h5 {
  color: rgb(94, 91, 91);
  font-size:medium;
}

#title1 {
  text-align: center;
  padding-top: 10px;
}

#title2 {
  text-align: center;
  padding-top: 10px;
}

#title3 {
  text-align: center;
  padding-top: 14px;
  font-size:0.8em;
}

#title4 {
  text-align: center;
  padding-top: 10px;
}

#title5 {
  text-align: center;
  padding-top: 10px;
}

tr > td:nth-of-type(1) {
  width: 35rem;
}

#hamburger {
  padding-left: 4rem;
}

.fa-trash-alt {
  color: #ffb703;
}

@media screen and (max-width: 1280px){

  #yz-table-title {
  display:none;
  }

  td:nth-of-type(3) {
    display: none;
  }

}


@media screen and (max-width: 600px){
  td:nth-of-type(2) {
    display: none;
  }
  td:nth-of-type(3) {
    display: none;
  }
}


