.yz-sticky-nav-bar {
  background-color: #219ebc;
  padding: 10px;
  position: fixed;
  width: 100%;
}

#yz-table-title {
  position: fixed;
  margin-top: 58px;
  background-color: #8ecae6;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 50px;
}

#container1 {
  padding-top: 55px;
}

#name {
  font-size: 1.5em;
  color: white;
}

#input1 {
  background-color: #8ecae6;
}

#input1::placeholder {
  color: white;
}

.fa-bars {
  color: white;
}

.fa-plus {
  color: #fb8500;
}

#iconFix {
  color: #fb8500;
}

h5 {
  color: rgb(94, 91, 91);
  font-size:medium;
}

#title1 {
  padding-left: 154px;
  padding-top: 10px;

}

#title2 {
  text-align: center;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#title3 {
  text-align: center;
  padding-top: 14px;
  font-size:0.8em;
}

#title4 {
  text-align: center;
  padding-top: 10px;
}

#title5 {
  text-align: center;
  padding-top: 10px;
  padding-left: 2rem;
}

tr > td:nth-of-type(1) {
  width: 35rem;
}

#hamburger {
  padding-left: 4rem;
}

.fa-trash-alt {
  color: #ffb703;
}